<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body> 

    <h1>Messages Aplication</h1>
    
    <nav>
    <ul>
        <% for (let i = 0; i < links.length; i++) { %>
        <li>
            <a href="<%= links[i].href %>">
            <span> <%= links[i].text %> </span>
            </a>
        </li>
        <% } %>
    </ul>
        
        <% messages.forEach(function(item) { %>
        <div>
        <p><span>Title: </span><%= item.title %></p>
        <p><span>User: </span><%= item.name %></p>
        <p><span>fecha_creacion </span><%= item.fecha_creacion %></p>
        </div>
        <% }) %>
</body>
</html>